/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.inliner {
  display: inline-block;
}

.center {
  width: 75%;
  margin: auto;
}

.float {
  float: left;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* navbar */
header {
  color: #007A8C;
  background-color: #F4F9FD;
  width: 100%;
  font-size: 15px;
}
.top {
  border-bottom: 1px solid #007A8C;
  padding: 20px 0;
}

.top .bot {
  width: 100%;
}

.left, .right {
  width: 49%;
}

.right {
  text-align: right;
}

li:not(.first) {
  text-decoration: none;
  padding: 0 14px;
}

a {
  text-decoration: none;
}

.first {
  padding-right: 14px;
  border-right: 1px solid #007A8C;
}


.fa-globe-europe {
  padding-right: 2px;
}

.fa-chevron-down {
  padding: 0 5px;
}

.btn {
  background-color: white;
  color: #FF7A59;
  border: 1px solid #FF7A59;
  border-radius: 3px;
  padding: 5px;
}

.btn.full {
  background-color: #FF7A59;
  color: white;
}

.bot {
  padding: 20px 0;
  background-color: white;
}

.navinsite {
   width: 60%;
   text-align: right;
 }

.logo {
  width: 39%;
  text-align: left;
  vertical-align: middle;
}
/* banner e clame */
.wrapper {
  height: 695px;
  width: 100%;
  position: relative;
  background-color: #FFF3EF;
  background-image: url(../img/jumbotron.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.clame {
  color: #33475B;
  padding: 64px 0;
  width: 60%;
}

.clame h1 {
  font-size: 50px;
  font-weight: 700;
}

.clame p {
  margin: 18px 0;
  line-height: 2;
}

.btn.full.big {
  padding: 15px 30px;
}

small {
  margin-top: 18px;
  display: block;
}

 .bluebanner {
   height: 12%;
   width: 100%;
   background-color: #86E1D6;
   border-top: 4px solid #007A8C;
   border-bottom: 4px solid #007A8C;
   position: absolute;
   bottom: 0;
 }
/* main */
main {
  line-height: 2;
  color: #33475B;
  background-color: #F4F9FD;
}
/* clame 2 */
.title {
  text-align: center;
  padding: 55px 0 0 0;
}

.img-cube {
  height: 190px;
}

.title h2 {
  font-size: 30px;
}

.title p {
  margin: 30px 0;
}
/* sezione box */
.imgbutton {
  width: 30%;
  text-align: center;
  padding-left: 20px;
}

.img-crm {
  height: 100px;
}

.crm{
  margin-bottom: 17px;
}

.description {
  width: 68%;
  padding-right: 40px
}

.description, .imgbutton {
  padding-top: 40px;
  padding-bottom: 40px;
}

.description h3 {
  font-size: 22px;
}

.description p {
  margin: 20px 0 7px 0;
}

.description h4 {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.fa-check-circle {
  color: #FF7A59;
  padding: 0 13px 0 0;
}

.description li {
  padding: 0 14px 0 0;
}
/* row-2 */
.column {
  width: calc(90% / 3);
  text-align: center;
  margin-top: 45px;
  padding: 30px;
}

.column h3 {
  font-size: 22px;
}

.column p {
  margin: 15px 0 50px 0;
}

.column h4 {
  text-transform: uppercase;
  margin: 20px 0;
}

.column ul {
  text-align: left;;
  list-style-type: none;
  line-height: 1;
  margin-bottom: 30px;
}

.column .btn {
  margin-bottom: 17px;
}

.mid {
  margin: 45px 5%;
}

.row, .column {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #a5a5a5;
}
/* section-2 */
.section-2 {
  width: 100%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
}

.section-2 h2 {
  font-size: 25px;
}

.section-2 p {
  margin: 20px 0 40px 0;
}
/* row loghi */
.socialinfo {
  text-align: center;
  padding: 30px;
  width: 25%;
}

.socialimg {
  height: 38px;
}

.description-social p {
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0px;
}

.description-social span {
  font-weight: normal;
}

.description-social small {
  margin: 0px 0px;
}

.borderR {
  border-right: 1px solid white;
}

.socialrow.two {
  border-top: 1px solid white;
  padding-bottom: 60px;
}
